* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.main__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.main__title > p {
  max-width: 50rem;
}

.table {
  margin: 0 auto;
  width: 95%;
}
